@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;800&display=swap');

* {
  box-sizing: border-box;
  transition: all 0.2s;
  border-radius: 4px;
  border: none;
}

.logo {
  width: 500px;
  height: 102px;
  filter: brightness(0);

  object-fit: cover;
}

body {
  padding: 8px;
  background: #fff;
  /* font-family: 'Langar', cursive; */
  font-family: 'BIZ UDGothic', sans-serif;
  /* font-family: 'Eczar', serif; */
  background: url('../assets/bg\ sketch.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 102px;
  /* margin-bottom: 64px; */
}

nav, footer {
  border-radius: 0;
}

main {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 16px;

  width: 50vw;
  box-shadow: 0px 5px 10px 3px rgba(50, 50, 50, 0.15);

  background: rgba(255,255,255,0.8);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

input {
  border: none;
  border-bottom: 1px solid black;

  height: 64px;
  width: 50%;

  padding: 16px;
}

input[type='radio'] {
  display: none;
}

button {
  width: 25%;
  height: 64px;
  margin: 16px;

  border: none;
  /* box-shadow: 0px 5px 0 0 rgba(50, 50, 50, 1); */
  
  background: white;
  box-shadow: 0px 5px 10px 3px rgba(50, 50, 50, 0.15);

  text-transform: uppercase;
  
}

button:hover {
  background: 0px 5px 10px 3px rgba(50, 50, 50, 0.15);
  box-shadow: 0px 0px 31px 19px #ffeeba;
}

h3 {
  margin-top: 64px;
}

h3:first-of-type {
  margin-top: 0;
}


@media (max-width: 600px) {
  
}
